<form>
 <table class="table table-striped" style="width:600px;">
  <tr>
    <td>Name:</td>
    <td><input type="text" class="form-control" ng-model="p.Name" value=""></td>
  </tr>
  <tr>
    <td>UserName:</td>
    <td><input type="text"  class="form-control" ng-model="p.UserName" value=""></td>
  </tr>
  <tr>
    <td>Passowrd:</td>
    <td><input type="password"  class="form-control" ng-model="p.Password" value=""></td>
  </tr>
  <tr>
    <td>Nationality:</td>
    <td><input type="text" class="form-control" ng-model="p.Nationality" value=""></td>
  </tr>
  <tr>
    <td>Age:</td>
    <td><input type="number" class="form-control" ng-model="p.Age" value=""></td>
  </tr>
  <tr>
    <td>Salary:</td>
    <td>
      <select class="form-control form-control-line" required ng-model="p.Salary_Id">
							<option disabled selected>Select Salary</option>
							<option ng-repeat ="s in salary" value={{s.Id}}>{{s.Grade}}</option>

			</select>
    </td>
  </tr>
  <tr>
    <td><input type="submit" ng-click="AddCoach(p)"  name="submit" value="Add Coach"></td>
  </tr>
  </table>
</form>
