<table class="table table-responsive">
    <tr>
      <td>ID:</td>
      <td>{{p.Id}}</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td>{{p.Name}}</td>
    </tr>
    <tr>
      <td>Nationality:</td>
      <td>{{p.Nationality}}</td>
    </tr>
    <tr>
      <td>Age:</td>
      <td>{{p.Age}}</td>
    </tr>
    <tr>
      <td>Height:</td>
      <td>{{p.Height}}</td>
    </tr>
    <tr>
      <td>Weight:</td>
      <td>{{p.Weight}}</td>
    </tr>
    <tr>
      <td>Position:</td>
      <td>{{p.Position}}</td>
    </tr>
    <tr>
      <td>Joining Date:</td>
      <td>{{p.Joining_Date}}</td>
    </tr>
    <tr>
      <td>Contract Year:</td>
      <td>{{p.Contract_Year}}</td>
    </tr>
    <tr>
      <td>Goals:</td>
      <td>{{p.PerformanceGoals}}</td>
    </tr>
    <tr>
      <td>Salary:</td>
      <td>{{p.SalaryGrade}}</td>
    </tr>
    <tr>
      <td>Fitness:</td>
      <td>{{p.FitnessStatus}}</td>
    </tr>
</table>
