@model HRMApplication.Models.EmployeeDetails
@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        .main {
            width: 1000px;
            margin-top: 100px;
            margin-left: 100px;
        }

        .one {
            background: red;
            width: 300px;
            float: left;
            margin-right: 10px;
            color: white;
            padding: 30px;
            height: 350px;
        }

        .two {
            background: orange;
            width: 300px;
            float: left;
            padding: 30px;
            height: 350px;
            margin-right: 10px;
        }

        .three {
            background: orange;
            width: 300px;
            float: left;
            padding: 30px;
            height: 350px;
            margin-right: 10px;
        }

        .button_margin {
            margin-left: 20%;
        }
    </style>
</head>
<div class="main">

    <div class="one">
        <h1 class="card-title">Employee</h1>
        <h4 class="card-text">Managers:@ViewBag.count_forward</h4>
        <h4 class="card-text">Sr Software Eng:@ViewBag.count_cdm</h4>
        <h4 class="card-text">Jr Software Eng:@ViewBag.count_cdm1</h4>
        <h4 class="card-text">Seller:@ViewBag.count_gk</h4>
        <h4 class="card-text">Jr Exicutive:@ViewBag.count_df</h4>
        <h4 class="card-text">Total Employee:@ViewBag.total</h4><br />
    </div>

    <div class="two">
        <h1 class="card-title">Salary Budget/Month</h1>
        <h4 class="card-text">Total:@ViewBag.total_salary/=</h4>
        <h4 class="card-text">Organic Healthcare:@ViewBag.total_1/=</h4>
        <h4 class="card-text">Foodpanda:@ViewBag.total_2/=</h4>
        <h4 class="card-text">Organic BD:@ViewBag.total_3/=</h4>
    </div>
    <div class="one">
        <h1 class="card-title">Employee</h1>
        <h4 class="card-text">Organic Healthcare:@ViewBag.count_company1</h4>
        <h4 class="card-text">Foodpanda:@ViewBag.count_company2</h4>
        <h4 class="card-text">BD organic:@ViewBag.count_company3</h4>
      
    </div>
</div>


